Repository kalgory/Web_KP_Server, pull requests merged in 2022-03, with the labels that each got.

#7 Feature/clean structure
  src/main/java/com/kalgory/kp/api/config/SecurityConfiguration.java
  src/main/java/com/kalgory/kp/api/controller/ProblemApiController.java
  src/main/java/com/kalgory/kp/api/controller/ProblemController.java
  src/main/java/com/kalgory/kp/api/dto/ProblemSaveRequestDto.java
  src/main/java/com/kalgory/kp/api/entity/problem/Problem.java
  src/main/java/com/kalgory/kp/api/entity/problem/Problems.java
  src/main/java/com/kalgory/kp/api/entity/user/Users.java
  src/main/java/com/kalgory/kp/api/repository/ProblemRepository.java
  src/main/java/com/kalgory/kp/api/repository/UsersRepository.java
  src/main/java/com/kalgory/kp/api/service/ProblemService.java
  src/main/java/com/kalgory/kp/api/service/UserService.java
  src/test/java/com/kalgory/kp/api/controller/ProblemApiControllerTest.java
Labels: Refactoring, Structure

#8 Feature/spring session setting
  build.gradle
  src/main/java/com/kalgory/kp/api/KalgoryKpApplication.java
  src/main/java/com/kalgory/kp/api/config/SecurityConfiguration.java
  src/main/resources/application.properties
Labels: Configuration

#9 Feature/problem
  src/main/java/com/kalgory/kp/api/controller/ProblemController.java
  src/main/java/com/kalgory/kp/api/dto/ProblemReceiveResponseDto.java
  src/main/java/com/kalgory/kp/api/dto/ProblemSubmitRequestDto.java
  src/main/java/com/kalgory/kp/api/entity/problem/Problems.java
  src/main/java/com/kalgory/kp/api/exception/ErrorCode.java
  src/main/java/com/kalgory/kp/api/repository/ProblemRepository.java
  src/main/java/com/kalgory/kp/api/service/ProblemService.java
  src/test/java/com/kalgory/kp/api/controller/ProblemApiControllerTest.java
Labels: API, Test

#10 Refactor/problem
  src/main/java/com/kalgory/kp/api/converter/ProblemLevelConverter.java
  src/main/java/com/kalgory/kp/api/dto/ProblemReceiveResponseDto.java
  src/main/java/com/kalgory/kp/api/entity/problem/Limit.java
  src/main/java/com/kalgory/kp/api/entity/problem/Problems.java
  src/main/java/com/kalgory/kp/api/entity/problem/Testcase.java
  src/main/java/com/kalgory/kp/api/entity/problem/enums/ProblemLevel.java
  src/main/java/com/kalgory/kp/api/repository/ProblemRepository.java
  src/test/java/com/kalgory/kp/api/controller/ProblemApiControllerTest.java
Labels: Refactoring
