Repository kalgory/Web_KP_Server, pull requests merged in 2022-04, with the labels that each got.

#13 Feature/redis session
  src/main/java/com/kalgory/kp/api/config/InterceptorConfiguration.java
  src/main/java/com/kalgory/kp/api/config/SecurityConfiguration.java
  src/main/java/com/kalgory/kp/api/exception/ErrorCode.java
  src/main/java/com/kalgory/kp/api/exception/GlobalExceptionHandler.java
  src/main/java/com/kalgory/kp/api/interceptor/SessionInterceptor.java
  src/main/java/com/kalgory/kp/api/redis/model/User.java
  src/main/java/com/kalgory/kp/api/redis/repository/UserRepository.java
  src/test/java/com/kalgory/kp/api/controller/ProblemApiControllerTest.java
  src/test/java/com/kalgory/kp/api/redis/repository/UserRepositoryTest.java
Labels: API, Test

#14 KB-28 - KB-28-유저-테스트-코드-작성
  src/main/java/com/kalgory/kp/api/controller/UserController.java
  src/main/java/com/kalgory/kp/api/service/UserService.java
  src/test/java/com/kalgory/kp/api/service/UserServiceTest.java
Labels: Refactoring, Test

#15 KB-17 - 문제-제출-api
  src/main/java/com/kalgory/kp/api/controller/ProblemController.java
  src/main/java/com/kalgory/kp/api/service/ProblemService.java
Labels: Refactoring, API
